.Experience{
    margin-top: 70px !important;
}

.experienceContainer{
    margin: 30px 40px !important;
}

.companyTitle{
    font-size: 25px;
    font-weight: 800;
}

.roleTitle{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}
.experienceContainer p{
    word-wrap: break-word;
    padding: 0px 30px;
    width: 90%;
    color: #999999;

}





.skillsContainer{
    margin: 20px 40px !important;
}

.skillsTitleContainer{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.skillsTitle{
   font-size: 20px;
   font-weight: 600;
}


.skillImagesRow{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 50px !important;
    /* width: 100%; */
}

.skillImagesCol{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 30px 0px;
    width: 200 !important;
    height: 200px;
}

.skillImage{
    width: 150px;
    height: 150px;
    border-radius: 10%;
}

.skillImageTitle{
    margin: 10px 0px;
    font-weight: 500 ;
    font-size: 20px;
}

@media (max-width: 600px){
    .skillImage{
        width: 100px;
        height: 100px;
    }
    .experienceContainer p{
        word-wrap: break-word;
        padding: 0px 10px;
        width: 100%;
    }
}