.Home {
    position: relative;
    width: 100%;
    height: auto;
}

.developerPicture{
    display: block;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-position: center;
    background-position: center;
    width: 100%;
    object-fit: cover;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100vh;
    opacity: 0.6;
    pointer-events: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.homeText{
    position: absolute;
    color: #000000;
    top: 30%;
    left: 30%;
    transform: translateX(-50%);
}

.nameText{
    margin: 0px 0px 0.35em;
    font-weight: 300;
    font-size: 4rem;
    line-height: 1.167;
    letter-spacing: -0.01562em;
    text-align: center;
    user-select: none;
}

.positionText{
    margin: 0px 0px 0.35em;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 1.75;
    color: aliceblue;
    letter-spacing: 0.00938em;
    text-align: center;
    user-select: none;
}

@keyframes animationName {
    0%   { opacity:0; }
    50%  { opacity:1; }
    100% { opacity:0; }
  }
  @-o-keyframes animationName{
    0%   { opacity:0; }
    50%  { opacity:1; }
    100% { opacity:0; }
  }
  @-moz-keyframes animationName{
    0%   { opacity:0; }
    50%  { opacity:1; }
    100% { opacity:0; }
  }
  @-webkit-keyframes animationName{
    0%   { opacity:0; }
    50%  { opacity:1; }
    100% { opacity:0; }
  }   

  .positionText {
     -webkit-animation: animationName 3s infinite;
     -moz-animation: animationName 3s infinite;
     -o-animation: animationName 3s infinite;
      animation: animationName 3s infinite;
  }