/* .navTab {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    position: absolute;
    z-index: 1100;
    top: 0;
    left: auto;
    right: 0;
    color: #fff;
    background-color: transparent;
    box-shadow: none;
  }

  .navUL {
    min-height: 64px;
    margin: 0px 96px 0px 96px;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    list-style: none;
    justify-content: end !important
 }

 .navLI {
  margin: 4px 40px 4px 30px !important;
}

.nav-link{
  text-decoration: none !important;
  font-weight: 600 !important;
  color: #282c34 !important;
} */


nav{
  background-color: #dddeed;
  height: 80px;
  width: 100%;
}
label.logo{
  color: rgb(232, 0, 0);
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 600;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
}
a.active,a:hover{
  background: #ffffff;
  transition: .5s;
  border-radius: 5px;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: left;
  line-height: 80px;
  margin-left: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
    padding: 7px 13px;
  }
  a.active,a:hover{
    background: #ffffff !important;
    transition: .5s !important;
    border-radius: 5px !important;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
    position: relative;
  }
  ul{
    position: absolute;
    width: 35%;
    height: 100%;
    z-index: 1100;
    overflow-y: auto;
    overflow-x: hidden;
    background: #2c3e50;
    transition: all .5s;
    left: -100%;
  }
  nav ul {
    margin: 0px;
  }
  nav ul li{
    display: block;
    margin: 15px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 18px !important;
    padding: 7px 7px;
  }
  a.active,a:hover{
    background: #ffffff !important;
    transition: .5s !important;
    border-radius: 5px !important;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
